.location {

  &--name {
    margin: 0;
    vertical-align: middle;

    @include min-width($align-calendar-content) {
      width: 18.25rem;
      display: inline-block;
    }
  }
  &--city {
    margin: 0;
    font-family: $montserrat-bold;
    vertical-align: middle;

    @include min-width($align-calendar-content) {
      display: inline-block;
    }
  }
}
