// inputs
.mc_form_inside {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @include min-width(520px) {
    flex-direction: row;
  }

  .mc_merge_var {
    display: block;
    width: 12.5rem;
    margin-right: .625rem;
    margin-top: .5rem;

    @include min-width(520px) {
      display: inline-block;
    }

    label {
      display: none;
    }
    input {
      display: inline-block;
      width: 100%;
      border: 1px solid $gray;
      background-color: $white;
      padding: .4rem;
      font-size: inherit;

      &:focus {
        outline-color: $brand-primary;
      }
    }

    &:nth-of-type(2) { // Mail
      order: 2;
    }

    &:nth-of-type(3) { // voornaam
      order: 1;
    }
    &:nth-of-type(4) { // achternaam
      display: none;
    }
  }

  // requierd message
  .mc-indicates-required {
    display: none;
  }

  // submit
  div.mc_signup_submit {
    display: inline-block;
    width: 8.5rem;
    order: 3;
    margin-top: .5rem;
    margin-left: 0.1rem;

    input {
      width: 100%;
      padding: 0.4rem;

      font-family: inherit;
      font-weight: 300;
      font-size: inherit;
      background-color: $brand-primary;
      color: $white;
      border: 0;

      transition: .2s background-color;

      @include hocus {
        cursor: pointer;
        outline: 0;
        background-color: lighten($brand-primary, 20%);
      }
    }
  }
}

.rounded {
  margin: 0;
  display: none;
  // margin-bottom: .2rem;
}
#mc_subheader {
  margin-bottom: .6rem;
  font-size: 1em;
}

#mc_message {
  margin: 1.1rem 0.1rem;
  font-size: 1em;
}
#mc-indicates-required {
  display: none;
}
