body, html {
  padding: 0;
  margin: 0;
}

body {
  font-family: $montserrat;
  line-height: 1.5;
}

main {
  padding: 1rem 1.5rem;
}

main, footer {
  @include min-width($bp-full-menu) {
    margin-left: $header-margin-m;
  }
  @include min-width($bp-full-size-menu) {
    margin-left: $header-margin-l;
  }
}
