// Project Colors
$brand-primary: tomato;


// Base Colors
$black:   #000;
$white:   #fff;
$gray:    #b9b3bf;

$text:    $black;

// Fonts-sizes
$base-font-size: (
  xs: 1rem,
  sm: 1.1rem,
  md: 1.125rem,
  lg: 1.125rem   // 18px
);

// Fonts
$montserrat: "Montserrat Regular", sans-serif;
$montserrat-bold: "Montserrat Bold", sans-serif;

// Layout
$container:      45rem;
$gutter:         1.28rem;
$double-gutter:  $gutter * 2;

// Grids
$grid: (
  540px: 2,
  900px: 4
);

// Global used measurements
$header-margin: 1rem;
$header-margin-m: 15rem;
$header-margin-l: 31.25rem;

// Global used breakpoints
  // Layout
  $bp-container: $container + $double-gutter;

  // Menu
  $bp-full-menu: 800px;
  $bp-full-size-menu: 1200px;

  // The breakpoint for the adjust mixin
  $adjust-xs: 500px;
  $adjust-sm: 800px;
  $adjust-md: 1000px;
  $adjust-lg: 1300px;
