// Colors
$red: #6f2919;
$light-red: #af4128;
$yellow: #f5d76e;

$overlay-color: rgba(#f5ee7e, .8);
$text-color: #5b5b5b;

$gray: gray;




// Fonts
$base-font: "Fira Sans", "Open Sans", "Helvetica", sans-serif;
$typewriter-font: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;

$menu-font-size: 1em; // TODO: set this to map

$base-font-size: (
  xs: 1em,
  sm: 1.1em,
  md: 1.15em,
  lg: 1.2em // 18px
);

$hero-font-size: (
  xs: 1.5em,
  sm: 2em,
  md: 2.5em,
  lg: 3em // 18px
);






// Layout
// $container: 38.7rem; // 620px
$container: 55rem; // 620px

$padding-xs: .25rem;
$padding-s: .5rem;
$padding-md: 1rem;
$padding-l: 1.5rem;
$padding-xl: 2rem;


$after-height: .3rem;



// other lists to set
$page-header: (
  xs: 10em,
  sm: 25em,
  md: 20em,
  lg: 28.2em
);


// Global breakpoints
$bp-container: $container + ($padding-md * 2);

  // The set breakpoints
  $set-sm: 500px;
  $set-md: 800px;
  $set-lg: 1200px;
