* {
  box-sizing: border-box;
  &:before, &:after {
    box-sizing: border-box;
  }
}

body, html {
  padding: 0;
  margin: 0;
}

html {
  &:before {
    content: "";
    position: fixed;
    top: 0; bottom: 0;
    right: 0; left: 0;
    width: 100%; height: 100%;

    // background-color: rgba(red, .1)
    // color
    // gradient
    // filter

    // background-color: rgba(#f3f3f3, .2);
    // background-color: rgba(#f9f9f9, .7);
    background: linear-gradient(hsla(49, 80, 90, .9), hsla(54, 95, 95, .9));
  }
}

body {
  position: relative;
  width: 100%; height: 100%;

  &:before {
    content: "";
    position: fixed;
    top: 0; bottom: 0;
    right: 0; left: 0;

    opacity: 1;
    z-index: -1;

    background-image: url("../img/decoration/paper-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
  }
}

main {
  padding: 1rem 1.5rem;
  min-height: 100%; min-height: 100vh;

  @include min-width($bp-full-menu) {
    margin-left: $header-margin-m;
    padding: 8rem 1.5rem;
  }
  @include min-width($bp-full-size-menu) {
    margin-left: $header-margin-l;
  }
}
