.affaire {
  width: 100%;
  display: inline-block;
  margin: 0 .3rem;

  vertical-align: top;
  background-color: $white;

  @include min-width(750px) {
    width: 23%;
  }

  &--info {

  }
  &--role {
    text-align: right;
  }
  &--img {
    width: 100%;
  }
  &--img-container {
    max-height: 16rem;
    overflow: hidden;
  }
}
