.affaire {
  width: 100%; max-width: 15rem;
  margin: 1rem .3rem;

  vertical-align: top;
  background-color: $white;

  @include min-width(1200px) {
    width: 23%;
    max-width: 100%;
    display: inline-block;
    margin: 0 .3rem 2rem .3rem;
  }

  &--name {
    margin: 0;
    @include adjust($font-size-lovers);
  }

  &--info {
    padding: 1rem;
  }
  &--role {
    text-align: right;
    margin: 0.1rem 0 0 0;
  }
  &--img {
    width: 100%;
  }
  &--img-container {
  }
}
