.calendar {
  @include container;
  margin-left: auto;
  margin-right: auto;

  &--list {
    margin: 0; padding: 0;
  }
  &--list-item {

  }

  &-item {
    margin: 0; padding: 0;
    list-style-type: none;

    &:last-of-type {
      .calendar-item--link {
        border-bottom: 2px solid rgba($brand-primary, .25);
      }
    }
  }
  &-item--link {
    display: block;
    padding: .5rem 0;

    color: inherit;
    text-decoration: none;
    border-top: 2px solid rgba($brand-primary, .25);

    transition: .3s color;

    @include hocus {
      color: $brand-primary;
      cursor: pointer;
    }
  }
  &-item--date {
    width: 6.625rem;
    font-family: $montserrat-bold;

    @include min-width($align-calendar-content) {
      display: inline-block;
    }
  }
  &-item--location {
    @include min-width($align-calendar-content) {
      display: inline-block;
    }
  }

  &--more {

  }

  &--home {
    @include min-width(950px) {
      padding-left: 3rem;
    }
  }
}
