.cssmask {
  .clip {
    height: 100%;
    max-width: 100%;

  }

  .js-clip {
    .clip {
      @include min-width($bp-full-menu) {
        transform: translateX(-19%);
      }
    }

    #cloudClip {
      @include min-width($bp-full-menu) {
        transform: translateX(47%);
      }
      @include min-width($bp-full-size-menu) {
        transform: translateX(58%);
      }
    }
  }


  #menu-main-menu {

    &:before {
      @include min-width($bp-full-menu) {
        content: "";
        width: 15rem;
        height: 100%; height: 100vh;
        float: left;

        shape-outside: polygon(0% 0%, 13% 0%, 40% 9%, 59% 20%, 71% 42%, 54% 57%, 39% 68%, 9% 72%, 0% 100%);
      }
      @include min-width($bp-full-size-menu) {
        width: 33rem;

        shape-outside: polygon(0% 0%, 23% 0%, 34% 7%, 50% 20%, 61% 39%, 53% 52%, 35% 61%, 41% 69%, 8% 87%, 0% 100%);
      }
    }
  }
}


html:not(.cssmask) {
  @include min-width($bp-full-menu) {
    #menu-main-menu {
      padding: 3rem 2rem;
    }
    .clip {
      display: none;
    }
  }

}
