.footer {
  position: relative;
  padding: 5rem 0 3rem 0;

  background: url("../img/hero/footer-large.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;

  color: white;

  &--contact {
    max-width: 33rem;
    margin: 0 auto;
    padding: 0 1rem;
  }

  &--newsletter {
    position: absolute;
    top: -13rem;
    right: 1rem;

    background-color: rgba($brand-primary, .8);
    border-radius: .3rem;

    > div {
      padding: 1.3rem 2.2rem;
      max-width: 38rem;
      width: 28rem;
      margin: 0 auto;
    }
  }

}
