.home {

  &--section {
    margin-bottom: 3rem;

    @include min-width(1000px) {
      margin-bottom: 7rem;
    }
  }
  &--sub-title {
    @include adjust($h2-like);
  }

  .calendar {
    @include min-width($align-calendar-content) {
      margin-left: 0;
    }
  }
}
