.home {

  &--introduction {
    max-width: 41.25rem;
    margin-left: auto;
    margin-bottom: 8rem;

    @include min-width(1100px) {
      margin-right: 6.875rem;
    }

    iframe {
      width: 100%;
      margin-bottom: 1rem;
    }
  }

  &--section {
    margin-bottom: 3rem;

    @include min-width(1000px) {
      margin-bottom: 7rem;
    }
  }
  &--sub-title {
    @include adjust($h2-like);
  }

  .calendar {
    @include min-width($align-calendar-content) {
      margin-left: 0;
    }
  }
}
