.logo {
  display: none;

  @include min-width($bp-full-menu) {
    width: 100%; max-width: 18rem;
    display: block;
    transform: translateX(-30%);
  }
  @include min-width($bp-full-size-menu) { transform: none }

}
