#menu-main-menu {

  &:before {
    @include min-width($bp-full-menu) {
      content: "";
      width: 15rem;
      height: 100%; height: 100vh;
      float: left;

      shape-outside: polygon(0% 0%, 4% 0%, 15% 9%, 39% 20%, 60% 44%, 60% 61%, 35% 75%, 30% 90%, 0% 100%);
    }
    @include min-width($bp-full-size-menu) {
      width: 24rem;
      
      shape-outside: polygon(0% 0%, 33% 0%, 48% 7%, 73% 20%, 75% 44%, 75% 61%, 55% 75%, 62% 90%, 0% 100%);
    }
  }
}
